.advantages {
  padding: 15px 20px 20px;
}

.advantages__heading {
  @include font-oswald;
  @include font-prop(36, 60);

  margin: 0;
  margin-bottom: 30px;
}

.advantages__list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.advantages__item {
  @include font-arial;
  @include font-prop(14, 18);
  color: $grey;

  position: relative;
  width: 195px;
  margin-left: 80px;
  margin-bottom: 26px;

  &--healthy::before {
    background: url("../img/advantage-leaf@1x.png") no-repeat center center;
  }

  &--powder::before {
    background: url("../img/advantage-powder@1x.png") no-repeat center center;
  }

  &--food::before {
    background: url("../img/advantage-dining@1x.png") no-repeat center center;
  }

  &--changes::before {
    background: url("../img/advantage-clock@1x.png") no-repeat center center;
  }

  &::before {
    content: "";
    background-color: $green;

    position: absolute;
    top: -2px;
    left: -80px;
    width: 60px;
    height: 60px;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .advantages__item {
    &::before {
      background-size: 48px 50px;
    }

    &--healthy::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--powder::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--food::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--changes::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.advantages__item--changes br {
  display: none;
}

@media (min-width: 768px) {
  .advantages {
    padding-left: 0;
    padding-right: 0;
  }

  .advantages__heading {
    font-size: 60px;

    margin-bottom: 63px;
  }

  .advantages__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    @include font-prop(16, 24);

    width: 46%;
    margin-bottom: 80px;
    margin-left: 0;
    padding: 121px 80px 44px 0;

    &::before {
      top: 9px;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--changes br {
    display: inline;
  }
}

@media (min-width: 1220px) {
  .advantages {
    padding-bottom: 138px;
  }

  .advantages__item {
    width: 245px;
    padding-right: 0;
  }
}
