.button {
  color: #ffffff;
  text-transform: uppercase;

  display: block;
  text-align: center;

  background-color: $green;

  &:hover,
  &:active {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($color: $white, $alpha: 0.3);
  }
}
