.catalog-main__heading {
  @include font-oswald;
  @include font-prop(36, 60);
  border-bottom: 1px solid $border-color;

  padding: 14px 20px 28px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog-main__heading {
    font-size: 60px;
    border-bottom: none;

    padding: 27px 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main__heading {
    padding-top: 45px;
  }
}
