.examples {
  background-color: $bg-color;

  padding-top: 18px;
  padding-bottom: 35px;
}

.examples__info {
  padding: 0 20px;
}

.examples__heading {
  @include font-oswald;
  @include font-prop(36, 60);

  margin: 0;
  margin-bottom: 22px;
  padding: 0 20px;
}

.examples__description {
  @include font-arial;
  @include font-prop(14, 18);
  color: $grey;

  margin: 0 10px 25px auto;
}

.examples__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.examples__item {
  text-align: center;
  position: relative;
  width: 44%;
  margin-bottom: 33px;

  border: 1px solid $table-border;
  border-radius: 3px;
}

.examples__item:first-of-type {
  margin-right: 32px;
}

.expamples__count {
  @include font-oswald;
  @include font-prop(24, 24);
  text-transform: uppercase;

  padding-top: 12px;
  padding-bottom: 18px;
  display: block;
}

.exmaples__subtitle {
  @include font-arial;
  @include font-prop(12, 12);
  color: $font-color;
  background-color: $bg-color;

  display: block;
  text-align: center;
  position: absolute;
  top: 45px;
  left: 50%;
  width: 82px;
  margin-left: -41px;
}

.examples__expenses {
  @include font-oswald;
  @include font-prop(13, 20);
  text-transform: uppercase;

  text-align: center;
  margin: 0 10px 33px;
}

@media (min-width: $tablet-width) {
  .examples {
    padding-top: 2px;
    padding-bottom: 0;
    background-color: $white;
  }

  .examples__info {
    padding: 0;
    padding-bottom: 221px;
  }

  .examples__heading {
    font-size: 60px;

    margin-bottom: 64px;
    padding: 0;
  }

  .examples__description {
    @include font-prop(16, 24);

    width: 99%;
    margin-bottom: 53px;
  }

  .examples__list {
    align-items: center;
    flex-wrap: nowrap;
  }

  .examples__item {
    width: 23%;
  }

  .examples__item:first-of-type {
    margin-right: 42px;
  }

  .expamples__count {
    @include font-prop(30, 37);

    padding: 14px 0 20px;
  }

  .exmaples__subtitle {
    @include font-prop(14, 14);
    background-color: $white;

    top: 63px;

    &--weight {
      width: 114px;
      margin-left: -57px;
    }

    &--days {
      width: 145px;
      margin-left: -72px;
    }
  }

  .examples__expenses {
    @include font-prop(19, 29);

    display: inline-block;
    vertical-align: middle;
    text-align: right;

    width: 192px;
    margin: 0 0 33px 149px;
  }
}

@media (min-width: $desktop-width) {
  .examples {
    background: linear-gradient(to right, #f2f2f2 80%, #eaeaea 80%);

    position: relative;
  }

  .examples .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .examples__info {
    padding-top: 71px;
    padding-bottom: 0;
    width: 530px;
  }

  .examples__heading {
    width: 350px;

    position: absolute;

    top: -136px;
  }

  .examples__description {
    width: 435px;
    margin: 0;
    margin-bottom: 67px;
  }

  .examples__list {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .examples__item {
    width: 161px;
  }

  .exmaples__subtitle {
    background-color: $bg-color;
  }

  .examples__expenses {
    margin-left: 0;
    margin-top: 20px;
    width: 330px;

    text-align: left;
  }

  .examples__expenses-count {
    margin-left: 59px;
  }
}
