.page-footer {
  background-color: $bg-color;

  padding-bottom: 24px;
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px 27px 20px;

  &--index {
    background-color: $white;
  }
}

.page-footer__invite {
  @include font-prop(16, 20);
  @include font-oswald;
  text-transform: uppercase;

  width: 140px;
  margin: 0;
}

.page-footer__address {
  @include font-prop(14, 20);
  @include font-arial;
  color: $font-color;

  margin: 0;
  width: 140px;
}

.page-footer__map {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -160px;
  z-index: -1;
}

.page-footer__iframe {
  margin: 0;
  border: none;
  z-index: 2;
  position: relative;
  width: 100%;
}

.page-footer__map-wrap {
  height: 362px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: relative;

    &::after {
      content: "";
      display: block;
      background-image: url("../img/map-pin.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 64px;
      height: 64px;
      margin-left: -32px;
      margin-top: -44px;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
    }
}

.page-footer__bottom {
  padding: 0 20px;
}

.page-footer__logo {
  border-bottom: 1px solid $border-darken-color;
  text-align: center;

  display: block;
  padding-top: 38px;
  padding-bottom: 27px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-footer__logo-svg {
  width: 128px;
  height: 24px;
}

.page-footer__list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 130px;
  margin: 0 auto;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 17px;
}

.page-footer__item {
  &:not(:nth-child(3n)) {
    margin-right: 32px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__link {
  display: block;
}

.page-footer__link-svg {
  fill: #666666;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 22px;
    height: 16px;
  }

  &--facebook {
    width: 22px;
    height: 19px;
  }
}

.page-footer__link:hover .page-footer__link-svg,
.page-footer__link:active .page-footer__link-svg {
  fill: $main-color;
}

.page-footer__link:active {
  opacity: 0.3;
}

.page-footer__academy {
  border-top: 1px solid $border-darken-color;

  position: relative;
}

.page-footer__link-academy {
  @include font-prop(16 ,16);
  @include font-arial;
  color: $grey;

  display: block;
  padding: 31px 0;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__link-academy:hover .page-footer__academy-svg,
.page-footer__link-academy:active .page-footer__academy-svg {
  fill: $main-color;
}

.page-footer__academy-svg {
  position: absolute;
  right: -8px;
  top: 50%;
  display: block;
  width: 43px;
  height: 42px;
  margin-top: -21px;

  fill: $svg-color;
}

@media (min-width: $tablet-width) {
  .page-footer__invite,
  .page-footer__address {
    width: 164px;
  }

  .page-footer__top {
    padding: 66px 72px 57px;
  }

  .page-footer__invite {
    @include font-prop(20, 25);
  }

  .page-footer__address {
    font-size: 16px;
    text-align: right;
  }

  .page-footer__city {
    display: block;
    margin-top: 18px;
  }

  .page-footer__address br {
    display: inline;
  }

  .page-footer__map-wrap {
    height: 396px;

    &::after {
      width: 120px;
      height: 120px;
      margin-left: -60px;
      margin-top: -52px;
    }
  }

  .page-footer__map {
    width: 767px;
    margin-left: -383px;
  }

  .page-footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-top: 61px;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    width: 33%;
    height: 24px;
    padding: 0;

    text-align: left;
    border-bottom: none;
  }

  .page-footer__list {
    width: 33%;
    padding: 0;
    margin-left: -2px;
  }

  .page-footer__item:not(:nth-child(3n)) {
    margin-right: 28px;
  }

  .page-footer__academy {
    border-top: none;
    text-align: right;

    width: 33%;
    padding-right: 26px;
  }

  .page-footer__link-svg {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }

  .page-footer__link-academy {
    padding: 0;
    padding-right: 23px;
  }

  .page-footer__academy-svg {
    margin-top: -22px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__top-wrap {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
  }

  .page-footer__map-wrap {
    height: 400px;
    align-items: flex-start;

    &::after {
      left: 75%;
      margin-top: -50px;
      margin-left: -80px;
    }
  }

  .page-footer__map {
    width: 100%;
    max-width: 1440px;
    margin-left: -720px;
  }

  .page-footer__top {
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 110px;
    padding: 65px 80px 59px 76px;
  }

  .page-footer__invite {
    margin-right: 86px;
  }

  .page-footer__address {
    text-align: left;
  }

  .page-footer__bottom {
    padding-top: 59px;
    padding-bottom: 36px;
  }
}
