.page-header {
  @include font-oswald;
}

.page-header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 20px 0;
  background: url("../img/index-background-mobile@1x.jpg") center top no-repeat, linear-gradient(to bottom, #63a73a 305px, $white 305px);
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-header__bottom {
    background: url("../img/index-background-mobile@2x.jpg") center top no-repeat, linear-gradient(to bottom, #63a73a 305px, $white 305px);
    background-size: 320px;
  }
}

.page-header__title {
  @include font-prop(33, 36);
  color: $white;

  text-align: center;
  width: 280px;
  margin: 0 auto 25px;
}

.page-header__subtitle {
  @include font-prop(13, 14);
  text-transform: uppercase;
  color: $white;

  text-align: center;
  margin: 0;
  margin-bottom: 31px;
}

.page-header__img {
  display: block;
}

.page-header__select-program {
  @include font-prop(13, 18);

  width: 100%;
  margin: 0 20px;
  padding: 11px 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 24px;
  }

  .page-header__menu {
    margin-bottom: 32px;
  }

  .page-header__bottom {
    align-items: flex-start;
    background: none;

    padding-left: 0;
    padding-right: 0;
  }

  .page-header__title,
  .page-header__subtitle {
    text-align: left;
    width: 450px;
    margin: 0;
    margin-left: 88px;
  }

  .page-header__title {
    @include font-prop(60, 60);
    color: $black;

    margin-bottom: 41px;
  }

  .page-header__subtitle {
    @include font-prop(20, 20);
    color: $font-darken-color;

    margin-bottom: 48px;
  }

  .page-header__select-program {
    @include font-prop(19, 20);

    position: relative;
    width: 245px;
    padding-top: 14px;
    padding-bottom: 18px;
    margin: 0;
    margin-left: 89px;
  }

  .page-header__picture {
    order: 1;
    margin-top: -80px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 54px;

    &--index {
      padding-bottom: 188px;
      background: url("../img/index-background-desktop@2x.jpg") right top no-repeat;
      background-size: 50% auto;
    }
  }

  .page-header__menu {
    margin-bottom: 29px;
  }

  .page-header__bottom {
    align-items: flex-start;
    max-height: 499px;
    padding-left: 80px;
    position: relative;
  }

  .page-header__title {
    margin-top: 51px;
    margin-left: 0;
  }

  .page-header__subtitle {
    margin-bottom: 54px;
    margin-left: 0;
  }

  .page-header__select-program {
    margin-left: 0;
  }

  .page-header__picture {
    position: absolute;
    left: 450px;
    top: 78px;
  }
}
