.page-footer {
  padding-top: 30px;

  background-color: #f2f2f2;
}

.page-footer__top {
  padding: 0 20px 24px;
}

.page-footer__invite {
  display: inline-block;
  vertical-align: middle;

  @include font-oswald;
  @include font(16, 20, normal);
  text-transform: uppercase;

  width: 140px;
  margin: 0;
}

.page-footer__address {
  display: inline-block;
  vertical-align: middle;

  @include font(14, 20, normal);
  font-family: "Arial", sans-serif;
  color: $grey;

  width: 140px;
  margin: 0;
  margin-left: -4px;
}

.page-footer__map {
  display: block;
}

.page-footer__bottom {
  padding: 0 20px;
}

.page-footer__logo {
  display: block;
  text-align: center;

  border-bottom: 1px solid #d9d9d9;

  padding-top: 39px;
  padding-bottom: 31px;
}

.page-footer__logo-svg {
  width: 128px;
  height: 24px;
}

.page-footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  font-size: 0;

  list-style: none;

  width: 125px;
  margin: 0 auto;
  padding: 26px 0 22px 0;
}

.page-footer__link {
  display: block;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }
}

.page-footer__link path {
  fill: #666666;
}

.page-footer__academy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #d9d9d9;
}

.page-footer__link-academy {
  display: block;

  @include font(16 ,16, normal);
  font-family: "Arial", sans-serif;
  color: $grey;

  padding: 31px 0;
}

.page-footer__link-logo {
  display: block;

  font-size: 0;

  width: 34px;
  height: 34px;
}

.page-footer__academy-svg path {
  fill: #000000;
}
