.page-footer {
  background-color: $bg-color;

  padding-bottom: 24px;
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px 27px 20px;

  &--index {
    background-color: $white;
  }
}

.page-footer__invite {
  @include font-prop(16, 20);
  @include font-oswald;
  text-transform: uppercase;

  width: 140px;
  margin: 0;
}

.page-footer__address {
  @include font-prop(14, 20);
  @include font-arial;
  color: $font-color;

  margin: 0;
  width: 140px;
}

.page-footer__address br {
  display: none;
}

.page-footer__map {
  display: block;
  margin: 0 auto;

  &--mobile {
    display: block;
    height: 362px;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.page-footer__bottom {
  padding: 0 20px;
}

.page-footer__logo {
  border-bottom: 1px solid $border-darken-color;
  text-align: center;

  display: block;
  padding-top: 38px;
  padding-bottom: 27px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-footer__logo-svg {
  width: 128px;
  height: 24px;
}

.page-footer__list {
  font-size: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 23px 0 20px 0;
}

.page-footer__link {
  display: block;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }
}

.page-footer__link path {
  fill: $svg-color;
}

.page-footer__link:hover path,
.page-footer__link:active path {
  fill: $main-color;
}

.page-footer__link:active path {
  opacity: 0.3;
}

.page-footer__academy {
  border-top: 1px solid $border-darken-color;

  position: relative;
}

.page-footer__link-academy {
  @include font-prop(16 ,16);
  @include font-arial;
  color: $grey;

  display: block;
  padding: 31px 0;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__link-academy:hover path,
.page-footer__link-academy:active path {
  fill: $main-color;
}

.page-footer__academy-svg {
  font-size: 0;

  position: absolute;
  right: -6px;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -21px;
}

.page-footer__academy-svg path {
  fill: $svg-color;
}

@media (min-width: 768px) {
  .page-footer__invite,
  .page-footer__address {
    width: 164px;
  }

  .page-footer__top {
    padding: 64px 72px 57px;
  }

  .page-footer__invite {
    @include font-prop(20, 25);
  }

  .page-footer__address {
    font-size: 16px;
    text-align: right;
  }

  .page-footer__address br {
    display: inline;
  }

  .page-footer__map {
    &--mobile {
      display: none;
    }

    &--tablet {
      height: 396px;
      display: block;
    }
  }

  .page-footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  .page-footer__logo {
    width: 128px;
    height: 24px;
    padding-top: 34px;

    border-bottom: none;
  }

  .page-footer__list {
    width: 124px;
    padding-top: 28px;
    margin-right: 0;
    margin-left: 20px;
  }

  .page-footer__academy {
    border-top: none;
    padding-top: 5px;
    padding-right: 26px;
  }

  .page-footer__link {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }

  .page-footer__link-academy {
    margin-right: 23px;
  }

  .page-footer__academy-svg {
    margin-top: -17px;
  }
}

@media (min-width: 1220px) {
  .page-footer__top-wrap {
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }

  .page-footer__map {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .page-footer__top {
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 110px;
    padding: 65px 80px 59px 76px;
  }

  .page-footer__invite {
    margin-right: 86px;
  }

  .page-footer__address {
    text-align: left;
  }

  .page-footer__bottom {
    padding-top: 30px;
    padding-bottom: 36px;
  }
}
