.page-header {
  @include font-oswald;
}

.page-header__bottom {
  display: flex;
  flex-direction: column;
  padding-top: 27px;

  background: url("../img/index-background-mobile@1x.jpg") no-repeat center top;
}

.page-header__title {
  @include font-prop(33, 36);
  color: $white;

  text-align: center;
  width: 320px;
  margin: 0 auto 25px;
}

.page-header__subtitle {
  @include font-prop(13, 14);
  text-transform: uppercase;
  color: $white;

  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.page-header__img {
  display: block;
  margin: 0 auto;

  &--mobile {
    display: block;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.page-header__select-program {
  @include font-prop(13, 18);

  padding-top: 12px;
  padding-bottom: 11px;
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 24px;
  }

  .page-header__menu {
    margin-bottom: 32px;
  }

  .page-header__bottom {
    background: none;
  }

  .page-header__title,
  .page-header__subtitle {
    text-align: left;
    width: 450px;
    margin: 0;
    margin-left: 88px;
  }

  .page-header__title {
    @include font-prop(60, 60);
    color: $black;

    margin-bottom: 41px;
  }

  .page-header__subtitle {
    @include font-prop(20, 20);
    color: $font-darken-color;

    margin-bottom: 48px;
  }

  .page-header__select-program {
    @include font-prop(19, 20);

    position: relative;
    width: 245px;
    padding-top: 14px;
    padding-bottom: 17px;
    margin: 0;
    margin-left: 89px;
  }

  .page-header__img {
    order: 1;
    margin-top: -80px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }
}

@media (min-width: 1220px) {
  .page-header {
    padding-top: 54px;
    padding-bottom: 188px;
  }

  .page-header__menu {
    margin-bottom: 29px;
  }

  .page-header__bottom {
    align-items: flex-start;
    max-height: 499px;
    padding-left: 80px;
    position: relative;
  }

  .page-header__title {
    margin-top: 51px;
    margin-left: 0;
  }

  .page-header__subtitle {
    margin-bottom: 54px;
    margin-left: 0;
  }

  .page-header__select-program {
    margin-left: 0;
  }

  .page-header__img {
    position: absolute;
    left: 450px;
    top: 78px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
