.program-selection {
  @include font-oswald;

  padding-top: 19px;
  padding-bottom: 33px;
}

.program-selection__heading {
  @include font(36, 60, normal);

  margin: 0;
  margin-bottom: 21px;
  padding: 0 20px;
}

.program-selection__title {
  @include font(14, 18, normal);
  color: #111111;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 38px;
  padding: 0 20px;
}

.program-selection__characteristics-fieldset {
  border: none;

  border-bottom: 1px solid #e6e6e6;

  margin: 0;
  padding: 0;
  padding-bottom: 9px;
}

.program-selection__characteristics-list {
  list-style: none;

  margin: 0;
  padding: 0 20px;
}

.program-selection__characteristics-item {
  display: flex;
  align-items: center;

  margin-bottom: 14px;
}

.program-selection__characteristics-label {
  @include font(16, 18, normal);
  color: #222222;

  text-transform: uppercase;
  margin-right: 15px;
}

.program-selection__characteristics-input {
  @include font(16, 18, normal);
  color: $grey;
  text-transform: uppercase;

  width: 100%;

  border: 1px solid #e6e6e6;

  margin: 0;
  padding: 15px;
}

.program-selection__select-fieldset {
  border: none;
  border-bottom: 1px solid #e6e6e6;

  margin: 0;
  padding: 0;
  padding-top: 27px;
}

.program-selection__select-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.program-selection__select-item {
  position: relative;

  margin-bottom: 24px;
}

.program-selection__select-label {
  @include font(16, 18, normal);
  text-transform: uppercase;
  color: #222222;

  margin-left: 66px;
}

.program-selection__select-input {
  position: absolute;
  left: 20px;
  top: -6px;

  width: 30px;
  height: 30px;
}

.program-selection__contacts-fieldset {
  border: none;

  overflow: hidden;

  margin: 0;
  padding: 0 20px;
  margin-top: 31px;
  margin-bottom: 17px;
}

.program-selection__contacts-legend {
  @include font(24, 24, normal);

  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  &::after {
    content: "";

    display: inline-block;
    vertical-align: middle;

    background: #6cbd83;

    width: 100%;
    height: 3px;
    margin-left: 40px;
    margin-right: -100%;
    margin-top: -50px;
  }
}

.program-selection__contacts-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.program-selection__contacts-item {
  display: flex;
  align-items: center;

  margin-bottom: 14px;
}

.program-selection__contacts-label {
  @include font(16, 18, normal);
  text-transform: uppercase;
  color: #222222;

  white-space: nowrap;

  margin-right: 12px;
}

.program-selection__contacts-input {
  @include font(16, 18, normal);
  text-transform: uppercase;
  color: $grey;

  border: 1px solid #e6e6e6;

  width: 100%;
  padding: 15px;
}

.program-selection__comment-fieldset {
  border: none;

  margin: 0;
  padding: 0 20px;
  margin-bottom: 31px;
  overflow: hidden;
}

.program-selection__comment-legend {
  @include font(24, 24, normal);

  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;


  &::after {
    content: "";

    display: inline-block;
    vertical-align: middle;

    background: #6cbd83;

    width: 100%;
    height: 3px;
    margin-left: 20px;
    margin-right: -100%;
  }
}

.program-selection__comment-text {
  @include font(15, 18, normal);
  text-transform: uppercase;
  color: $grey;

  width: 100%;

  border: 1px solid #e6e6e6;

  margin: 0;
  padding: 15px;
}

.program-selection__additional-fieldet {
  border: none;

  overflow: hidden;

  margin: 0;
  padding: 0 20px;
}

.program-selection__additional-legend {
  @include font(24, 24, normal);

  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 41px;

  &::after {
    content: "";

    display: inline-block;
    vertical-align: middle;

    background: #6cbd83;

    width: 100%;
    height: 3px;
    margin-left: 20px;
    margin-right: -100%;
  }
}

.program-selection__additional-list {
  @include font (16, 18, normal);
  text-transform: uppercase;
  list-style: none;

  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.program-selection__additional-item {
  margin-bottom: 28px;

  position: relative;
}

.program-selection__additional-label {
  margin-left: 46px;
  color: #222222;
}

.program-selection__additional-input {
  position: absolute;
  top: 50%;

  width: 30px;
  height: 30px;
  margin-top: -15px;
}

.program-selection__button {
  border: none;

  margin: 0 auto;
  margin-bottom: 23px;
  padding: 13px 0;
}

.program-selection__required {
  @include font(14, 16, normal);
  font-family: "Arial", sans-serif;
  color: $grey;
  text-align: center;

  margin: 0;
  padding: 0;
}
