.program-selection {
  @include font-oswald;

  padding-top: 15px;
  padding-bottom: 33px;
}

.program-selection__heading {
  @include font-prop(36, 60);

  margin: 0;
  margin-bottom: 25px;
  padding: 0 20px;
}

.program-selection__title {
  @include font-prop(14, 18);
  color: $font-darken-color;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 39px;
  padding: 0 20px;
}

.program-selection__characteristics-fieldset,
.program-selection__select-fieldset,
.program-selection__contacts-fieldset,
.program-selection__comment-fieldset {
  border: none;

  margin: 0;
  padding: 0;
}

.program-selection__characteristics-list,
.program-selection__select-list,
.program-selection__contacts-list,
.program-selection__additional-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.program-selection__characteristics-fieldset {
  border-bottom: 1px solid $border-color;

  padding-bottom: 9px;
}

.program-selection__characteristics-list {
  padding: 0 20px;
}

.program-selection__characteristics-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.program-selection__characteristics-label {
  @include font-prop(16, 18);
  color: $label-color;
  text-transform: uppercase;

  margin-right: 11px;
}

.program-selection__characteristics-input,
.program-selection__contacts-input {
  @include font-prop(15, 18);
  @include font-oswald;
  color: $grey;
  text-transform: uppercase;
  border: 1px solid $border-color;

  width: 100%;
  margin: 0;
  padding: 12px 15px;
}

.program-selection__select-fieldset {
  border-bottom: 1px solid $border-color;

  padding-top: 24px;
  padding-bottom: 7px;
}

.program-selection__select-item {
  position: relative;
  margin-bottom: 18px;
}

.program-selection__select-label {
  @include font-prop(15, 18);
  text-transform: uppercase;
  color: $label-color;

  margin-left: 66px;
}

.program-selection__select-input {
  position: absolute;
  left: 15px;
  top: -6px;
  width: 30px;
  height: 30px;
}

.program-selection__contacts-fieldset,
.program-selection__comment-fieldset {
  overflow: hidden;
}

.program-selection__contacts-fieldset {
  padding: 0 20px;
  margin-top: 28px;
  margin-bottom: 17px;
}

.program-selection__contacts-legend {
  @include font-prop(24, 24);

  width: 100%;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  // &::after {
  //   content: "";
  //   display: inline-block;
  //   vertical-align: middle;
  //   background-color: $main-color;

  //   width: 100%;
  //   height: 3px;
  //   margin-left: 40px;
  //   margin-right: -100%;
  //   margin-top: -50px;
  // }
}

.program-selection__contacts-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.program-selection__contacts-label {
  @include font-prop(15, 18);
  text-transform: uppercase;
  color: $label-color;
  white-space: nowrap;

  margin-right: 11px;
}

.program-selection__contacts-input {
  padding-right: 40px;
}

.program-selection__contacts-svg {
  position: absolute;
  right: 14px;

  &--mail {
    width: 17px;
    height: 13px;
  }

  &--phone {
    width: 20px;
    height: 20px;
  }
}

.program-selection__contacts-svg path {
  fill: $label-color;
}

.program-selection__comment-fieldset {
  padding: 0 20px;
  margin-bottom: 24px;
}

.program-selection__comment-legend {
  @include font-prop(24, 24);
  width: 100%;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;


  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: $main-color;

    width: 100%;
    height: 3px;
    margin-left: 20px;
    margin-right: -100%;
  }
}

.program-selection__comment-text {
  @include font-prop(15, 18);
  @include font-oswald;
  text-transform: uppercase;
  color: $font-color;
  border: 1px solid $border-color;

  width: 100%;
  height: 153px;
  margin: 0;
  padding: 15px;
}

.program-selection__additional-fieldet {
  border: none;

  overflow: hidden;
  margin: 0;
  padding: 0 20px;
}

.program-selection__additional-legend {
  @include font-prop(24, 24);

  width: 100%;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: $main-color;

    width: 100%;
    height: 3px;
    margin-left: 20px;
    margin-right: -100%;
  }
}

.program-selection__additional-list {
  @include font-prop(16, 18);
  text-transform: uppercase;

  padding-bottom: 18px;
}

.program-selection__additional-item {
  position: relative;
  margin-bottom: 24px;
}

.program-selection__additional-label {
  color: $label-color;

  margin-left: 46px;
}

.program-selection__additional-input {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

.program-selection__button {
  border: none;

  margin: 0 auto 22px;
  padding-top: 13px;
  padding-bottom: 12px;
}

.program-selection__required {
  @include font-prop(14, 16);
  @include font-arial;
  color: $font-color;
  text-align: center;

  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .program-selection {
    padding-bottom: 74px;
  }

  .program-selection__heading {
    font-size: 60px;
    margin-bottom: 57px;
    margin-top: 10px;
    padding: 0;
  }

  .program-selection__title {
    @include font-prop(20, 31);

    width: 365px;
    margin-left: 40px;
    margin-bottom: 63px;
    padding: 0;
  }

  .program-selection__form {
    margin-left: 41px;
    margin-right: 37px;
  }

  .program-selection__characteristics-list {
    padding: 0;
  }

  .program-selection__characteristics-label {
    @include font-prop(20, 20);

    margin-right: 13px;
  }

  .program-selection__characteristics-input {
    @include font-prop(20, 20);

    width: 100%;
    padding-top: 10px;
    padding-left: 17px;
  }

  .program-selection__characteristics-item:not(:last-child) {
    margin-bottom: 18px;
  }

  .program-selection__select-fieldset {
    border-bottom: none;

    padding-top: 47px;
    margin-bottom: 68px;
  }

  .program-selection__select-item:not(:last-child) {
    margin-bottom: 29px;
  }

  .program-selection__select-list {
    border: 1px solid $border-color;

    padding-top: 32px;
    padding-bottom: 13px;
    padding-left: 87px;
  }

  .program-selection__select-label {
    @include font-prop(20, 20);
    margin-left: 0;
  }

  .program-selection__contacts-fieldset {
    padding: 0;
    margin-bottom: 0;
  }

  .program-selection__contacts-legend {
    @include font-prop(36, 36);
  }

  .program-selection__select-input {
    left: -65px;
    top: -11px;
    width: 40px;
    height: 40px;
  }

  .program-selection__contacts-list {
    padding-top: 41px;
    padding-bottom: 50px;
  }

  .program-selection__contacts-label {
    @include font-prop(20, 20);

    margin-right: 11px;
  }

  .program-selection__contacts-input {
    @include font-prop(20, 20);
    padding-top: 11px;
    padding-left: 19px;
  }

  .program-selection__contacts-svg {
    right: 17px;
  }

  .program-selection__contacts-item {
    margin-bottom: 16px;
  }

  .program-selection__comment-legend {
    @include font-prop(36, 36);
  }

  .program-selection__comment-text {
    @include font-prop(20, 30);

    height: 174px;
    margin-top: 44px;
    padding: 9px 17px;
  }

  .program-selection__comment-fieldset {
    margin-bottom: 61px;
    padding: 0;
  }

  .program-selection__additional-fieldet {
    padding: 0;
  }

  .program-selection__additional-legend {
    @include font-prop(36, 36);
  }

  .program-selection__additional-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 26px;
    padding-bottom: 14px;
  }

  .program-selection__additional-item {
    width: 287px;
    padding-left: 57px;
    margin-bottom: 51px;
  }

  .program-selection__additional-label {
    @include font-prop(20, 20);

    margin-left: 0;
  }

  .program-selection__additional-input {
    left: -5px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
  }

  .program-selection__submit {
    display: flex;
    align-items: center;
  }

  .program-selection__button {
    @include font-oswald;
    @include font-prop(20, 20);

    width: 283px;
    padding-top: 14px;
    padding-bottom: 17px;
    margin: 0;
    margin-right: 57px;
  }

  .program-selection__required {
    font-size: 16px;
  }
}

@media (min-width: 1220px) {
  .program-selection {
    padding-top: 35px;
    padding-bottom: 82px;
  }

  .program-selection__heading {
    margin-bottom: 55px;
  }

  .program-selection__title {
    margin-bottom: 64px;
    margin-left: 0;
  }

  .program-selection__form {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .program-selection__characteristics-fieldset,
  .program-selection__select-fieldset {
    width: 570px;
    padding-bottom: 0;
  }

  .program-selection__characteristics-fieldset {
    margin-right: 80px;
    border-bottom: none;
  }

  .program-selection__select-fieldset {
    padding-top: 0;
  }

  .program-selection__select-list {
    padding-left: 86px;
    padding-top: 34px;
  }

  .program-selection__contacts-fieldset {
    margin-top: 0;
    width: 100%;
  }

  .program-selection__contacts-list {
    display: flex;
    justify-content: space-between;
  }

  .program-selection__contacts-item {
    width: 570px;
  }

  .program-selection__contacts-label {
    margin-right: 14px;
  }

  .program-selection__comment-fieldset {
    width: 100%;
  }

  .program-selection__comment-text {
    width: 100%;
  }

  .program-selection__additional-fieldet {
    width: 100%;
    margin-bottom: 6px;
  }

  .program-selection__additional-list {
    margin-top: 29px;
  }

  .program-selection__additional-item {
    width: 244px;
  }

  .program-selection__button,
  .program-selection__required {
    width: 570px;
  }

  .program-selection__button {
    margin-right: 85px;
  }

  .program-selection__required {
    margin-left: -4px;
    text-align-last: left;
  }
}
