.programs {
  padding-top: 22px;
}

.programs__list {
  list-style: none;

  margin: 0;
  padding: 0 20px;
}

.programs__item {
  background-color: $bg-color;

  position: relative;
  padding: 30px 20px 0 21px;

  &--losing::before,
  &--gain::before,
  &--losing::after,
  &--gain::after {
    content: "";
    position: absolute;
  }

  &--losing::before,
  &--gain::before {
    z-index: 1;
    height: 49px;
    width: 67px;
    left: 13px;
    top: 47px;
    margin-top: -24px;
  }

  &--losing::after,
  &--gain::after {
    border-radius: 50%;
    background-color: $green;

    width: 50px;
    height: 50px;
    top: 25px;
    left: 22px;
  }

  &--losing::before {
    background: url("../img/icon-cat-slim.svg") no-repeat center center;
  }

  &--gain::before {
    background: url("../img/icon-cat-pro.svg") no-repeat center center;
  }
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

.programs__heading {
  @include font-oswald;
  @include font-prop(24, 36);
  text-transform: uppercase;

  margin: 0;
  margin-left: 70px;
  margin-bottom: 32px;
}

.programs__description {
  @include font-prop(14, 18);
  @include font-arial;
  color: $font-color;

  margin: 0;
  padding-bottom: 20px;

  border-bottom: 1px solid $border-darken-color;
}

.programs__link {
  @include font-oswald;
  @include font-prop(16, 16);
  text-transform: uppercase;
  color: $black;

  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 21px;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 95px;
    width: 23px;
    height: 11px;
    margin-top: -8px;

    background: url("../img/icon-right-arrow-long.svg") no-repeat center center;
  }
}

.programs__link:hover {
  &::after {
    width: 33px;
    background: url("../../img/icon-right-arrow-verylong.svg") no-repeat center center;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    padding-top: 1px;
  }

  .programs__list {
    padding: 0;
  }

  .programs__item {
    padding: 77px 0 41px 53px;
    margin-bottom: 30px;
    position: relative;

    &--losing::before,
    &--gain::before {
      left: auto;
      right: 28px;
      top: 50%;
      height: 194px;
      width: 268px;
    }

    &--losing::after,
    &--gain::after {
      left: auto;
      right: 61px;
      top: 50%;
      width: 200px;
      height: 200px;
      margin-top: -94px;
    }
  }

  .programs__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .programs__item--losing {
    &::before {
      margin-top: -106px;
    }
  }

  .programs__item--gain {
    &::before {
      margin-top: -92px;
    }
  }

  .programs__heading {
    font-size: 36px;

    margin-left: 0;
    margin-bottom: 26px;
  }

  .programs__description {
    @include font-prop(16, 24);
    border-bottom: none;

    margin-bottom: 15px;
  }

  .programs__item--losing .programs__description {
    width: 57%;
  }

  .programs__item--gain .programs__description {
    width: 52%;
  }

  .programs__link {
    @include font-prop(20, 20);

    &::after {
      left: 130px;
      margin-top: -6px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    padding-top: 80px;
    padding-bottom: 29px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programs__item {
    width: 570px;
    padding-right: 30px;

    &--losing::before,
    &--gain::before {
      left: 34px;
      height: 97px;
      width: 134px;
    }

    &--losing::after,
    &--gain::after {
      right: auto;
      width: 100px;
      height: 100px;
      margin-top: -138px;
    }

    &--losing::before {
      top: 147px;
    }

    &--gain::before {
      top: 140px;
    }
  }

  .programs__heading {
    margin-left: 163px;
    margin-bottom: 74px;
  }

  .programs__item .programs__description {
    width: auto;
    margin-bottom: 0;

    border-bottom: none;
  }

  .programs__link {
    padding-top: 10px;

    &::after {
      left: 131px;
      margin-top: -12px;
    }
  }
}
