.slider__list {
  list-style: none;

  height: 210px;
  margin: 0 auto 63px;
  padding: 0;
}

.slider__item {
  display: none;
  height: 210px;

  &--active {
    display: block;
  }
}

.slider__img {
  margin: 0 auto;

  &--mobile {
    display: block;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.slider__switch-wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 197px;
  margin: 0 auto;
}

.slider__button {
  @include font-oswald;
  @include font-prop(16, 20);
  text-transform: uppercase;
  border: none;
  background: none;

  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .slider__switch {
    display: block;

    position: absolute;
    left: 50%;
    top: 50%;

    border: 1px solid $table-border;
    border-radius: 7px;
    background-color: $white;

    width: 82px;
    height: 12px;
    margin-left: -41px;
    margin-top: -6px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 5px;

      background-color: $green;
      border-radius: 7px;

      width: 35px;
      height: 6px;
      margin-top: -3px;
    }
  }
}

@media (min-width: 768px) {
  .slider {
    margin: 0 -30px;
    padding-top: 94px;
    padding-bottom: 67px;
    text-align: center;

    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .slider__list {
    text-align: center;
    position: relative;
    width: 690px;
  }

  .slider__item {
    position: absolute;
    top: -263px;
    right: -7px;
  }

  .slider__img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .slider__switch-wrap {
    position: relative;

    width: 573px;

    &::after {
      content: "";

      position: absolute;
      left: 50%;
      top: 50%;

      background-color: #dcdcdc;
      border-radius: 3px;
      width: 428px;
      height: 6px;
      margin-left: -216px;
      margin-top: -6px;
    }
  }

  .slider__button {
    @include font(20, 20, normal);
    padding-bottom: 7px;

    border-bottom: 1px dotted #bebebe;
  }
}

@media (min-width: 1220px) {
  .slider {
    padding-bottom: 68px;
  }


  .slider__item {
    position: absolute;
    top: -284px;
    right: -10px;
  }

  .slider__img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .slider__switch-wrap {
    margin: 0;
    margin-left: 89px;
  }
}
