$main-color: #68b738;
$border-color: #e6e6e6;
$border-darken-color: #d9d9d9;
$font-color: #444444;
$font-darken-color: #111111;
$white: #ffffff;
$black: #000000;
$bg-color: #f2f2f2;
$svg-color: #666666;

$tablet-width: 768px;
$desktop-width: 1220px;

$green: #68b738;
$grey: #444444;
